.container {
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    background-position: center;
    color: #fff;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    padding: 30% 2rem 5rem;
    justify-content: center;
}

.container_light {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    width: 100%;
    height: 100%;
    background-position: center;
    color: #000;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    padding: 30% 2rem 5rem;
    justify-content: center;
}



.container_light::before {
    content: "";
    position: fixed;
    top: 10%;
    left: 0;
    width: 100px;
    height: 100px;
    border-top: 0.5rem solid;
    border-left: 0.5rem solid;
    border-image: linear-gradient(45deg, black, purple, teal) 1;
}


.container_light::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-bottom: 0.5rem solid;
    border-right: 0.5rem solid;
    border-image: linear-gradient(45deg, teal, orange) 1;
}

.container::before {
    content: "";
    position: fixed;
    top: 10%;
    left: 0;
    width: 100px;
    height: 100px;
    border-top: 0.5rem solid;
    border-left: 0.5rem solid;
    border-image: linear-gradient(45deg, black, purple, teal) 1;
}


.container::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-bottom: 0.5rem solid;
    border-right: 0.5rem solid;
    border-image: linear-gradient(45deg, teal, orange) 1;
}

.container .heading {
    position: relative;
    width: fit-content;
    margin-bottom: 2rem;
    color: #fff;
}

.container_light .heading {
    position: relative;
    width: fit-content;
    margin-bottom: 2rem;
    color: black;
}


.container p,
.container_light p {
    padding: 0 1.5rem 2rem;
}

.heading::after {
    content: "";
    position: absolute;
    opacity: 0.8;
    bottom: 0;
    background-color: purple;
    height: .5rem;
    left: 20%;
    right: -10%;
}

.resume {
    background-color: inherit;
    border: 1px solid rgba(0, 255, 255, 0.7);
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease-out;
    width: 60%;
    text-align: center;
}

.resume a {
    color: rgba(0, 255, 255, 0.7);

}

.resume:hover {
    background-color: rgba(0, 255, 255, 0.7);
    border: 1px solid inherit;
    color: #fff;
}

.resume_light {
    background-color: inherit;
    border: none;
    background-color: rgba(128, 0, 128, 0.7);
    padding: 0.7rem;
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease-out;
    width: 60%;
    text-align: center;
}

.resume_light a {
    color: #fff;
}

.resume_light:hover {
    border: 1px solid rgb(141, 7, 7);
    background-color: rgb(48, 8, 48)
}

@media screen and (min-width:600px) {
    .container {
        height: 100vh;
        padding: 0 2rem 0;
        margin-bottom: 0;
        justify-content: flex-start;
    }

    .container::before {
        top: 13%;
    }

    .container_light {
        height: 100vh;
        padding: 15% 2rem 0;
        margin-bottom: 0;
        justify-content: flex-start;
    }

    .container_light::before {
        top: 13%;
    }

    .resume {
        width: 40%;

    }

    .resume_light {
        width: 40%;
    }

}

@media screen and (min-width:900px) {
    .container {
        position: relative;
        width: 88%;
        margin-left: 12%;
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 3rem;
    }

    .container::before {
        top: 0;
        left: 12%;
        width: 100px;
        height: 100px;
        border-top: 0.5rem solid;
        border-left: 0.5rem solid;
        border-image: linear-gradient(45deg, teal, orange) 1;
    }


    .container::after {
        bottom: 0;
        right: 0;
        width: 100px;
        height: 100px;
        border-bottom: 0.5rem solid;
        border-right: 0.5rem solid;
        border-image: linear-gradient(45deg, teal, orange) 1;
    }

    .container_light {
        position: relative;
        width: 88%;
        margin-left: 12%;
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 3rem;
    }


    .container_light::before {

        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        border-top: 0.5rem solid;
        border-left: 0.5rem solid;
        border-image: linear-gradient(45deg, black, rgb(141, 7, 7), teal) 1;
    }


    .container_light::after {
        bottom: 0;
        right: 0;
        width: 100px;
        height: 100px;
        border-bottom: 0.5rem solid;
        border-right: 0.5rem solid;
        border-image: linear-gradient(45deg, teal, blue, purple) 1;
    }

    .resume {
        align-self: flex-start;
        width: 20%;
    }

    .resume_light {
        align-self: flex-start;
        width: 20%;
    }

    .heading {
        align-self: center;
    }
}