.container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
        url("../../assets/women-web-developer-with-laptop.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
padding-top: 7rem;
    background-repeat: no-repeat;
    background-size: contain;

}

.container h2 {
    padding: 0 0.5rem;
    position: relative;
    width: max-content;
}

.container h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 30%;
    height: 3px;
    background-color: aquamarine;
}

.container h2::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 30%;
    right: 0;
    height: 3px;
    background-color: aquamarine;
}

.wrapper {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 2rem;
}

.form {
    width: 90%;
    margin: 0 auto;
}

.form label {
    display: block;
    padding: 0.5rem 0;
}

.form input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
    color: white;
}

.form input::placeholder {
    color: rgba(0, 255, 255, 0.7);
    opacity: .8;
}

.form textarea {
    width: 100%;
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
    color: white;
}

.container_light {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("../../assets/women-web-developer-with-laptop.png");
    width: 100%;
    height: 90vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .3s;

}

.btn_wrap {
    text-align: center;
    margin-top: 2rem;
}

.form button {
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(0, 255, 255, 0.7);
    padding: 0.7rem;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;

}

@media screen and (min-width:900px) {
    .container {
        position: relative;

        width: 85%;
        height: 100vh;
        margin-left: 15%;
    }

    .wrapper {
        flex-direction: row;
        width: 100%;
        gap: 2rem;
    }

    .aside {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
        width: 60%;
        margin: 0;
    }

    .form label {
        display: block;
        padding: 0.5rem 0;
    }
}