.container_light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 12, 117);
    color: #fff;
    height: 10%;
    padding: 0 1rem;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0,0.4);
    z-index: 5;
    width: 100%;
    top: 0;
}

.container {
    position: fixed;
    z-index: 5;
    background-color: hwb(0 0% 100%);
    width: 100%;
    border-bottom: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 10%;
    top: 0;
}

.nav_mobile {
    display: block;
    position: relative;

}

.nav_desktop {
    display: none;
}

.nav_mobile_links {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #110111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;

}

.nav_mobile_links_light {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;

}

.nav_mobile_links ul, .nav_mobile_links_light ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 80%;
}

.socials {

    display: flex;
    font-size: 2rem;
    gap: 1rem;

}

.socials_d {
    color: #fff;
    opacity: 0.7;
}

.socials_l {
    color: #000;

}

.container a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: ease-in .2s;
    width: fit-content;
}



.container a:hover::after {
    position: absolute;
    content: "";
    background-color: purple;
    bottom: 0;
    left: 10%;
    right: 30%;
    border-bottom: 2px solid purple;
    animation-name: floating;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.container_light a {
    color: #110111;
    text-decoration: none;
    transition: ease-out .2s;
    position: relative;
    width: fit-content;
}

.container_light a:hover::after {
    position: absolute;
    content: "";
    background-color: #fff;
    bottom: 0;
    left: 10%;
    right: 30%;
    border: 1px solid #fff;
    animation-name: floating;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes floating {
    0% {
        left: 20%;
        right: 30%;
    }

    50% {
        left: 10%;
        right: 20%;
    }

    100% {
        left: 0;
        right: 0;
    }
}



.sidebar {
    margin-top: 6rem;
    display: flex;
    gap: 1rem;
}



@media screen and (min-width: 900px) {
    .nav_mobile {
        display: none;
    }

    .container {
        position: fixed;
        align-items: flex-start;
        top: 0;
        left: 0;
        width: 15%;
        z-index: 5;
        background-color: black;
        height: 100%;
        border-right: 1px solid purple;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 1rem 0;

    }

    .container_light {
        position: fixed;
        align-items: flex-start;
        top: 0;
        left: 0;
        width: 15%;
        z-index: 5;
        height: 100%;
        border-right: 1px solid black;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 1rem 0;

    }

    .nav_desktop {
        width: 100%;
        display: block;
    }

    .nav_desktop ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10rem;
        width: 100%;
    }
}


@media screen and (min-width:1200px) {
    .container {
        width: 15%;
        padding: 2rem 1.5rem 0;
    }
}