.container {
    display: none;
}


@media screen and (min-width:900px) {
    .container {
        display: flex;
        gap: 1rem;
        width: 100%;
    }

    .lightmode {
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
    }

    .lightmode:hover {
        opacity: 0.7;
    }

    .darkmode {
        color: #fff;
        font-size: 2rem;
    }

    .socials {

        display: flex;
        font-size: 2rem;
        gap: 1rem;
        
    }
    
    .socials_d{
        color: #fff;
        opacity: 0.7;
    }
    
    .socials_l{
        color: #fff;
        
    }

    .toggle {
        margin-top: 2px;
        width: 30px;
        min-height: 20px;
        position: relative;
        border-radius: 5px;
        text-align: left;
        transition: .3s;
        cursor: pointer;
    }


    .toggle_light {
        margin-top: 2px;
        width: 30px;
        min-height: 20px;
        position: relative;
        border-radius: 5px;
        text-align: right;
        transition: ease-in-out .3s;
        cursor: pointer;
    }

    /* .toggle_light::before {
    content: "";
    background-color: white;
    top: 30%;
    left: 40%;
    right: 10%;
    bottom: 30%;
    border-radius: 50%;
    position: absolute;
    transition: .3s;
    border: 1px solid white;
} */




}