.container {
    display: none;
}


@media screen and (min-width:900px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 100%;
    }

    .lightmode {
        color: #fff;
        font-size: 1.3rem;
        cursor: pointer;
    }

    .lightmode:hover {
        opacity: 0.7;
    }

    .darkmode {
        color: #fff;
        font-size: 1.3rem;
    }

    .socials {

        display: flex;
        font-size: 1.3rem;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }
    
    .socials_d{
        color: #fff;
        opacity: 0.7;
    }
    
    .socials_l{
        color: #fff;
        
    }

    .toggle {
        margin-top: 2px;
        width: 30px;
        min-height: 20px;
        position: relative;
        border-radius: 5px;
        text-align: left;
        transition: .3s;
        cursor: pointer;
    }


    .toggle_light {
        margin-top: 2px;
        width: 30px;
        min-height: 20px;
        position: relative;
        border-radius: 5px;
        text-align: right;
        transition: ease-in-out .3s;
        cursor: pointer;
    }


}